@keyframes moveInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

   70% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

   70% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}