
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Vazir';
    line-height: 1.7;
    padding: $spacing-md;
    direction: rtl;
    font-size: $spacing-xs1;
}